<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercury Tours Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaf0a4">  <td>19/12/10 20:56:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Flightfindersuite.appclose()[pri:0, instance:b_gradlenew.Flightfindersuite@4678c730]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>19/12/10 20:56:29</td>   <td>25892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Flightfindersuite.appclose()[pri:0, instance:b_gradlenew.Flightfindersuite@4678c730]">&lt;&lt;appclose</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>19/12/10 20:55:44</td>   <td>-19497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Flightfindersuite.applaunch()[pri:0, instance:b_gradlenew.Flightfindersuite@4678c730]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>19/12/10 20:56:04</td>   <td>539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Flightfindersuite.applaunch()[pri:0, instance:b_gradlenew.Flightfindersuite@4678c730]">&gt;&gt;applaunch</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/12/10 20:55:27</td>   <td>-35811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Loginsuite.closebrowser()[pri:0, instance:b_gradlenew.Loginsuite@51081592]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/12/10 20:55:43</td>   <td>-19664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Loginsuite.closebrowser()[pri:0, instance:b_gradlenew.Loginsuite@51081592]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/12/10 20:55:37</td>   <td>-26480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loginsuite.invalidlogin()[pri:1, instance:b_gradlenew.Loginsuite@51081592]">invalidlogin</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/12/10 20:55:07</td>   <td>-56358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Loginsuite.launch()[pri:0, instance:b_gradlenew.Loginsuite@51081592]">&gt;&gt;launch</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/12/10 20:55:27</td>   <td>-35748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Loginsuite.launch()[pri:0, instance:b_gradlenew.Loginsuite@51081592]">&gt;&gt;launch</td> 
<td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>19/12/10 20:55:53</td>   <td>-10092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flightfindersuite.verifyDefaultSelectionFlightType()[pri:0, instance:b_gradlenew.Flightfindersuite@4678c730]">verifyDefaultSelectionFlightType</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>19/12/10 20:56:13</td>   <td>9680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flightfindersuite.verifyDepartingFromValueSelection()[pri:1, instance:b_gradlenew.Flightfindersuite@4678c730]">verifyDepartingFromValueSelection</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/12/10 20:55:17</td>   <td>-45846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Loginsuite.veryfylogin()[pri:0, instance:b_gradlenew.Loginsuite@51081592]">veryfylogin</td> 
  <td>main@2107447833</td>   <td></td> </tr>
</table>
